---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog | FiSo</title>
	</head>
	<body>
    <header>
      <nav>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat aspernatur voluptates fugiat sapiente pariatur cum necessitatibus, itaque vero facilis similique aut, illo quaerat molestiae. Officia cupiditate itaque eius nam.</p>
	</body>
</html>
