---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hola mundo desde Astro!</title>
	</head>
	<body>
		<h1>Hola mundo desde Astro!</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis placeat aspernatur voluptates fugiat sapiente pariatur cum necessitatibus, itaque vero facilis similique aut, illo quaerat molestiae. Officia cupiditate itaque eius nam.</p>
	</body>
</html>
